<h2>Usuário</h2>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Data de criação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.id %></td>
        <td><%= @user.email %></td>
        <td><%= @user.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Voltar', users_path, class: 'btn btn-secondary' %>

<style>
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff; /* Cor de fundo da tabela */
  }

  .table th {
    background-color: #7D5B8C; /* Cor do cabeçalho */
    color: #ffffff; /* Cor do texto do cabeçalho */
  }

  .table td {
    padding: 10px;
  }

  .table tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor das linhas pares */
  }

  .table-responsive {
    margin-top: 20px; /* Espaçamento superior */
  }
</style>
